//- block: html
//- style: 'black' | 'grey'
//- size: 'small' | 'big'
mixin Btn(style = 'black', size='small')
    - var tag = attributes.href ? 'a' : 'button'

    #{tag}(
        class='a-btn'
        class!='a-btn--'+style
        class!='a-btn--'+size
        class!=attributes.class
        onclick!=attributes.onclick
        disabled!=attributes.disabled
        href!=attributes.href
        type!=attributes.type
    )
        if block
            block
        else
            | Кнопка
